In [1]:
import numpy as np
import pandas as pd
import math
import time

from collections import OrderedDict

# IMPORT BATTERY CLASS
from Battery import Battery

import PeriodMaximisation as pm

In [3]:
df = pd.read_excel("../preprocessed_data/SM.xlsx")

In [7]:
timePeriod = np.array(getTimePeriod(df))
a, b, count = timePeriod.max(axis = 0)

In [19]:
timePeriod[467]

array([Timestamp('2020-03-18 00:30:00'), Timestamp('2020-03-29 00:00:00'),
       528], dtype=object)

In [18]:
np.argmax(timePeriod[:, 2])

467

In [34]:
test_start_period = '2018-01-19 00:30:00'
test_end_period   = '2018-01-21 00:00:00'

test_period = (df['Time (UTC+10)'] >= test_start_period) & \
               (df['Time (UTC+10)'] <= test_end_period)

test_data = df[test_period].copy()
test_data = test_data.reset_index(drop = True)

In [35]:
test_data

,Time (UTC+10),Regions VIC Trading Price ($/MWh),Raw Power (MW),Market Dispatch (MWh),Opening Capacity (MWh),Closing Capacity (MWh)
0,2018-01-19 00:30:00,85.61,0.0,0.0,0,0
1,2018-01-19 01:00:00,80.60,0.0,0.0,0,0
2,2018-01-19 01:30:00,64.45,-300.0,-150.0,0,135
3,2018-01-19 02:00:00,67.28,0.0,0.0,135,135
4,2018-01-19 02:30:00,66.06,-300.0,-150.0,135,270
...,...,...,...,...,...,...
91,2018-01-20 22:00:00,103.04,180.0,81.0,90,0
92,2018-01-20 22:30:00,82.38,0.0,0.0,0,0
93,2018-01-20 23:00:00,79.01,-300.0,-150.0,0,135
94,2018-01-20 23:30:00,92.67,0.0,0.0,135,135
95,2018-01-21 00:00:00,98.00,270.0,121.5,135,0

In [36]:
start = time.time()
rp, md, oc, cc, rev = PeriodOptimisation2(test_data)
end = time.time()
print(f"Total time taken :{end-start}")

Total time taken :1.8088560104370117

In [27]:
import PeriodMaximisation as pm

In [37]:
start1 = time.time()
data = fullMaximisation(test_data, len(test_data))
end1 = time.time()
print(f"Total time taken :{end1-start1}")

Total time taken :1.7724461555480957

In [38]:
pm.computeRevenue(data)

2455689.1466054143

In [39]:
data

,Time (UTC+10),Regions VIC Trading Price ($/MWh),Raw Power (MW),Market Dispatch (MWh),Opening Capacity (MWh),Closing Capacity (MWh),Status,mlf,Revenue ($)
0,2018-01-19 00:30:00,85.61,0.0,0.0,0.0,0.0,Nothing,0.000000,0.000000
1,2018-01-19 01:00:00,80.60,0.0,0.0,0.0,0.0,Nothing,0.000000,0.000000
2,2018-01-19 01:30:00,64.45,-300.0,-150.0,0.0,135.0,Charge,1.009082,-9755.297679
3,2018-01-19 02:00:00,67.28,0.0,0.0,135.0,135.0,Between,0.000000,0.000000
4,2018-01-19 02:30:00,66.06,-300.0,-150.0,135.0,270.0,Charge,1.009082,-9998.990918
...,...,...,...,...,...,...,...,...,...
91,2018-01-20 22:00:00,103.04,0.0,0.0,0.0,0.0,Nothing,0.000000,0.000000
92,2018-01-20 22:30:00,82.38,0.0,0.0,0.0,0.0,Nothing,0.000000,0.000000
93,2018-01-20 23:00:00,79.01,0.0,0.0,0.0,0.0,Nothing,0.000000,0.000000
94,2018-01-20 23:30:00,92.67,0.0,0.0,0.0,0.0,Nothing,0.000000,0.000000
95,2018-01-21 00:00:00,98.00,0.0,0.0,0.0,0.0,Nothing,0.000000,0.000000

In [40]:
data.to_excel('example.xlsx', index = False)